<!DOCTYPE>
ul{
    
}
body{
    background-image: url(../images/BG.jpg);
    background-repeat: repeat;
    margin-left: 100px;
    margin-right: 100px;
}
#nav{
    border: 3px solid lightgrey;
    background-color: dimgrey;
    text-align: center;
    margin-bottom: 20px;
    height: 50px;
    
}
.logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
    margin-left: 35%;
}
ul{
    margin-right: 35%;
}
li{
    display: inline;
    float: right;
}
a{
    padding: 0px 10px 0px 10px;
    text-decoration: none;
}
.img1{
    border: 3px solid lightgrey;
}
.img2{
    border: 3px solid lightgrey;
}
.img3{
    border: 3px solid lightgrey;
}
.img4{
    border: 3px solid lightgrey;
}
#container{
    border: 3px solid lightgrey;
    background-color: dimgray;
    padding: 0px 20px 0px 20px;
    text-align: center;
}
.About{
    background-color: steelblue;
    text-align: center;
    border: 3px solid grey;
    margin-top: 10px;
    padding: 10px 10px 0px 10px;
}
.title{
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
}
.box{
    margin-bottom: 50px;
    background-color: grey;
    padding-bottom: 13px;
}
.name{
    font-size: 22px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.details{
    padding-top: 5px;
}
.cast1{
    height: 200px;
    width: 140px;
    float: left;
    padding: 13px 13px 13px 13px;
}
.cast2{
    height: 200px;
    width: 140px;
    float: right;
    padding: 13px 13px 13px 13px;
}
